@page "/quizcard"
@inherits QuizCardBase
@using QuizBlazor.Components

<div class="container">
    <div class="quiz">
        @if (questionIndex < Questions.Count())
        {
            <div class="app-title">
                Quizzing!
            </div>
            <div class="quiz-header">
                @Questions[questionIndex].QuestionTitle
            </div>
            <div class="quiz-body">
                @foreach (var option in Questions[questionIndex].Options)
                {
                    <OptionCard Option="@option" OnOptionSelected="OptionSelected"></OptionCard>
                }
            </div>
        }
        else
        {
            <div class="app-title">
                @if (score > (Questions.Count / 2))
                {
                    <img src="https://img.icons8.com/ios/100/000000/prize--v1.png" />
                }
                else
                {
                    <img src="https://img.icons8.com/color/96/000000/lose.png" />
                }
            </div>
            <div class="app-title">
                @(score > (Questions.Count() / 2) ? "Congratulation" : "Better Luck Next Time")
            </div>
            <div class="quiz-header">
                <b>You scored @score points!</b>
            </div>
            <div class="quiz-footer">
                <button class="next-btn" @onclick="@RestartQuiz">Play Again</button>
            </div>
        }
    </div>
</div>