.option {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    box-shadow: -0.3px 0.3px 3px rgba(0,0,0,0.3);
}

    .option:hover {
        background-color: #28a745;
        color: #fff;
        border-radius: 3px;
        padding: 10px;
    }
